html.hasFontSmoothing-true {
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
}
body {
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  font-weight: 300;
  background-image: url("/img/texture.png");
}
#main_nav {
  font-size: 14px;
}
#main_nav #logo {
  height: 1px;
}
#main_nav #logo img {
  height: 36px;
  position: relative;
  top: -8px;
}
#fb-link,
#youtube-link {
  height: 90%;
}
#fb-link a,
#youtube-link a {
  padding: 0;
  padding-top: 14px;
  font-size: 24px;
}
#fb-link .icon-play,
#youtube-link .icon-play {
  font-size: 12px;
  color: #fbfbfb;
  position: relative;
  left: 34px;
  line-height: 100%;
}
#youtube-link {
  position: relative;
  left: 10px;
}
h1 {
  color: #211e55;
  font-size: 30px;
}
.span3 {
  overflow: hidden;
}
.corner {
  float: left;
  position: relative;
  top: -18px;
  left: -18px;
  height: 36px;
  width: 36px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background-color: #211e55;
}
#footer {
  height: 200px;
  padding-top: 20px;
  background: rgba(100,100,100,0.1);
  color: #211e55;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(33,30,85,0.5);
  box-shadow: 0px 0px 15px 0px rgba(33,30,85,0.5);
}
#footer #cc {
  margin-top: 16px;
}
.shift {
  padding-top: 50px;
  margin-top: -50px;
  margin-left: -14px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}
