html.hasFontSmoothing-true {
  font-family: '微軟正黑體', 'Microsoft JhengHei', sans-serif;
}
body {
  font-family: '微軟正黑體', 'Microsoft JhengHei', sans-serif;
  font-weight: 300;
}
#cover {
  background-image: url("/img/cover.jpg");
  background-size: 100%;
  height: 200px;
  background-align: center center;
  margin-bottom: 20px;
  -webkit-box-shadow: inset 0px -3px 10px 2px rgba(0,0,0,0.2);
  box-shadow: inset 0px -3px 10px 2px rgba(0,0,0,0.2);
  color: #fff;
}
#cover h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 72px;
  margin-top: 70px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 20px;
  text-shadow: 3px 3px 10px #000;
  filter: dropshadow(#000, 3, 3);
}
.nav .nav-header {
  font-size: 18px;
  color: #808080;
  border: 1px solid #ddd;
  border-radius: 5px;
}
#footer {
  height: 200px;
  margin-top: 60px;
  padding-top: 20px;
  -webkit-box-shadow: 0px 3px 10px 2px rgba(0,16,16,0.2);
  box-shadow: 0px 3px 10px 2px rgba(0,16,16,0.2);
  background: #f3f3f3;
}
.sec {
  margin-top: 60px;
}
.sec .sec-title {
  font-size: 20px;
  font-weight: 700;
}
.sec:first-child {
  margin-top: 0px;
}
.alert-warning {
  font-size: 14px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 60px;
}
.alert-warning:first-child {
  margin-top: 0px;
}
.alert-info {
  padding-top: 15px;
  padding-bottom: 15px;
}
.main-title {
  font-weight: 700;
  border: 3px solid #000;
  font-size: 40px;
  line-height: 60px;
  padding-left: 10px;
}
