#content {
  padding-top: 60px;
}
#cover {
  border-radius: 10px;
  height: 675px;
  margin-bottom: 20px;
  background: url("/img/cover.jpg") top right no-repeat;
}
#cover h1 {
  color: #fcfaf2;
  font-size: 4em;
  left: 40px;
  line-height: 1.2em;
  position: relative;
  top: 40px;
}
#cover p {
  position: relative;
  left: 40px;
  top: 40px;
  color: #8b81c3;
  font-size: 1.6em;
  letter-spacing: 0.6em;
}
