h1 {
  font-size: 120px;
  line-height: 120px;
  margin-top: 120px;
  margin-bottom: 100px;
}
h2.section_title {
  font-size: 24px;
  padding-left: 14px;
  color: #fcfaf2;
  background-color: #211e55;
  line-height: 48px;
}
h3 {
  color: #211e55;
  font-size: 20px;
  line-height: 20px;
  font-family: sans-serif;
}
.profile {
  margin-bottom: 80px;
}
.profile img {
  width: 96%;
}
.profile a {
  text-decoration: none;
}
.profile .fb-link {
  position: relative;
  top: 15px;
  margin-bottom: 10px;
  font-size: 20px;
  text-decoration: none;
}
dl .icon-map-marker {
  position: relative;
  top: 0;
  margin-left: 4px;
  color: #d0104c;
  font-size: 20px;
}
dl .icon-map-marker:hover {
  top: -2px;
}
