h1 {
  font-size: 120px;
  line-height: 120px;
  margin-top: 120px;
  margin-bottom: 100px;
}
h2.section_title {
  font-size: 24px;
  padding-left: 14px;
  color: #fcfaf2;
  background-color: #211e55;
  line-height: 48px;
}
h3.sub_title {
  color: #211e55;
  font-size: 20px;
  line-height: 32px;
  padding-left: 14px;
  font-family: sans-serif;
}
.sub {
  margin-bottom: 60px;
}
.profile {
  margin-bottom: 80px;
}
.profile img {
  width: 96%;
}
.profile .fb-link {
  position: relative;
  top: 15px;
  margin-bottom: 10px;
  font-size: 20px;
  text-decoration: none;
}
#space {
  height: 1200px;
}
.affix {
  top: 50px;
}
table {
  margin-bottom: 40px;
}
table tbody a:hover {
  text-decoration: none;
}
.popover {
  width: auto;
}
.popover-title {
  height: 18px;
}
