.author
  .row
    .span1
      img.img-polaroid.avator(src='img/column/author/suyongchao.jpg')
    .span7
      h4.name 
        | 蘇詠超 
        a(href='https://www.facebook.com/GameXplorer', target='_blank')
          i.icon-facebook-sign
      p.intro 於2007開始接觸溜溜球，閉關自修了兩年之後正式走入聚會。本行是1A，喜歡探究跟分析事情，對於招式本身的思維更加有興趣於招式本身。