!!! 5

html(lang='zh-TW')
  head
    title 台灣溜溜球網
    block js
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    block css
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/base.css')
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,300italic,400italic,700italic')
  body
    .navbar.navbar-static-top
      .navbar-inner
        .container
          ul.nav
            li 
              a(href='/#') 首頁
    #cover
      .container
        h1 yo-yo.tw
        small 關於溜溜球的所有大小事！從初學者到競技溜溜球選手，提供給您各式各樣的溜溜球情報。
    .container
      .row
        .span3
          ul.nav.nav-list
            li.nav-header 溜溜球是什麼
            li
              a(href='/what#definition') 定義
            li
              a(href='/what#history') 歷史
            li.nav-header 溜溜球的基本知識
            li
              a(href='/knowledge#part') 部位名稱
            li
              a(href='/knowledge#material') 材質分類
            li
              a(href='/knowledge#profile') 球形分類
            li
              a(href='/knowledge#bearing') 軸承分類
            li
              a(href='/knowledge#return') 回收方式分類
            li
              a(href='/knowledge#response') 回收系統分類
            li.nav-header 溜溜球的選擇
            li
              a(href='/select#buy') 選購方向
            li
              a(href='/select#sensitive') 回收力敏感的溜溜球
            li
              a(href='/select#bind') 需綁線回收的溜溜球
            li
              a(href='/select#material') 材質挑選
            li
              a(href='/select#profile') 球形挑選
            li
              a(href='/select#bearing') 軸承類型挑選
            li
              a(href='/select#response') 回收系統挑選
            li
              a(href='/select#diameter') 球徑與重量
            li.nav-header 玩溜溜球前的準備
            li
              a(href='/prepare#string') 溜溜繩的選擇
            li
              a(href='/prepare#length') 溜溜繩長度調節
            li
              a(href='/prepare#ring') 如何製作指環
            li
              a(href='/prepare#tie') 如何綁在手上
            li
              a(href='/prepare#around') 如何綁在球上
            li
              a(href='/prepare#rewind') 如何捲線
            li
              a(href='/prepare#direction') 手持方向
            li
              a(href='/prepare#throw') 如何投擲
            li
              a(href='/prepare#style') 風格分類
            li
              a(href='/prepare#meeting') 國內聚會、賽事
            li
              a(href='/prepare#warning') 注意事項 
        .span9
          block page
    #footer
      .container
        small 
          | Designed by 
          a(href='http://twitter.com/kaddopur') @kaddopur
        small.pull-right
          a(href='#') 回到頂端
          

    


