!!! 5

html(lang='zh-TW')
  head
    title yo-yo.tw 溜溜球情報、教學、交流
    block js
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    block css
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/font-awesome.css')
      link(rel='stylesheet', href='/css/base.css')
  body
    #main_nav.navbar.navbar-fixed-top
      .navbar-inner
        .container
          ul.nav
            li#logo
              a(href='/#')
                img(src='/img/nav_logo.png')
            //- li#nav_intro
            //-   a(href='/intro#') 入門須知
            //- li#nav_tutorial
            //-   a(href='/tutorial#') 影音教學
            li#nav_what
              a(href='/what#') 溜溜球是什麼？
            li#nav_knowledge
              a(href='/knowledge#') 基本知識
            li#nav_people
              a(href='/people#') 名人集
            li#nav_meeting
              a(href='/meeting#') 聚會資訊
          ul.nav.pull-right
            li#youtube-link
              a(href='http://www.youtube.com/user/officialyoyotw/videos', target='_blank')
                i.icon-play.icon-large
                i.icon-sign-blank.icon-large
            li#fb-link
              a(href='https://www.facebook.com/pages/yo-yotw-%E6%BA%9C%E6%BA%9C%E7%90%83%E6%83%85%E5%A0%B1%E6%95%99%E5%AD%B8%E4%BA%A4%E6%B5%81/421497014580985?fref=ts', target='_blank')
                i.icon-facebook-sign.icon-large
    block page
    
    #footer
      .container
        .row
          .span2
            dl
              dt Designed by 
              dd 
                a(href='http://twitter.com/kaddopur', target='_blank') @kaddopur
              p
              dt Sponsored by
              dd
                a(href='http://www.adegle.com/', target='_blank')
                  img(src='/img/adegle_logo.png')
          #cc.span2
            small 
              <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/tw/deed.zh_TW"><img alt="創用 CC 授權條款" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/tw/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">yo-yo.tw 溜溜球情報、教學、交流</span>由<a xmlns:cc="http://creativecommons.org/ns#" href="https://www.facebook.com/linkai.huang" property="cc:attributionName" rel="cc:attributionURL">黃麟凱</a>製作，以<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/tw/deed.zh_TW">創用CC 姓名標示-非商業性-相同方式分享 3.0 台灣 授權條款</a>釋出。
          .span8
            small.pull-right
              a(href='#') 回到頂端

