color_konkikyo = #211E55
color_fuji = #8B81C3
color_shironeri = #FCFAF2

#content
  padding-top 60px

#cover
  height 600px
  padding-top 120px
  h1
    font-size 4em
    line-height 1.2em
  p
    font-size 2em
    letter-spacing .8em

  background url('/img/cover.png') top right no-repeat