color_konkikyo = #211E55
color_fuji = #8B81C3
color_shironeri = #FCFAF2

#content
  padding-top 60px

#cover
  border-radius 10px
  height 675px
  margin-bottom 20px
  h1
    color color_shironeri
    font-size 4em
    left 40px
    line-height 1.2em
    position relative
    top 40px
  p
    position relative
    left 40px
    top 40px
    color color_fuji
    font-size 1.6em
    letter-spacing .6em
  button
    position relative
    left 40px
    top 80px

  background url('/img/cover.jpg') top right no-repeat