extends base

append css
  link(rel='stylesheet', href='/css/index.css')

block page
  #cover
    .container
      img(src='/img/cover.png')
      .row
        //-.span3
          .corner
          h1 何處購買
          p 裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店裕和商店
          button.btn.btn-primary 前往
