extends base

append css
  link(rel='stylesheet', href='/css/index.css')

block page
  #content.container
    .row
      #cover.span12
        h1 童年的回憶 簡單的樂趣
        p 全民溜溜球 始動
        a(href='http://www.facebook.com/yytwfans', target='_blank')
          button.btn.btn-large.btn-primary 現在就加入粉絲團