extends base

append css
  link(rel='stylesheet', href='/css/what.css')

append js
  script(src='/js/bootstrap.min.js')
  script
    $(document).ready(function(){
      $('#nav_knowledge').addClass('active');
      $('body').attr('data-spy', 'scroll').attr('data-target', '.span3').attr('data-offset', '80');
    });


block page
  .container
    .row
      .span12
        h1 ◤溜溜球的基本知識
    .row
      .span9
        h2#material.section_title.shift 材質分類
        .row
          .span6
            .sub_section
              h3.sub_title 原木材質
              p 早期最容易加工與組合的材質，大多是固定軸心且不可拆開的。現今大多為廣告及宣傳用途。
          .span3
            .img-frame
              img.img-polaroid(src='img/knowledge/material_01.jpg')
              p
                small 原木溜溜球
          .span6
            .sub_section
              h3.sub_title 塑膠材質
              p 性能較原木材質佳，空轉與回收力道適中，大多為入門及初學玩家使用的材質。塑膠材質可分為射出成形製造及數位控制車床加工製造。射出成形製造法因為使用模具大量製造，因此價格較為低廉，顏色多樣，且材質具有彈性，不易損壞，練習時也比較安全。數位控制車床加工製造可以有較佳的精度，有效提升球體性能，但是顏色選擇較少以及價格較高。
          .span3
            .img-frame
              img.img-polaroid(src='img/knowledge/material_02.jpg')
              p
                small 塑膠溜溜球
          .span6
            .sub_section
              h3.sub_title 內加重環、外加重環等複合材質
              p 此種加重環式溜溜球有全金屬材質更好的性能，但是價格比較低廉。適合準備進入中高階等級的玩家使用。因為此金屬材質為外部嵌入、組合或是黏合式，球體經過撞擊後，該金屬環有機會變形、位移甚至脫離球體的風險存在，將會造成球體震動、抖動等情況。
          .span3
            .img-frame
              img.img-polaroid(src='img/knowledge/material_03.jpg')
              p
                small 複合材質溜溜球
          .span6
            .sub_section
              h3.sub_title 航太金屬
              p 全金屬溜溜球屬於高階玩家使用，使用電腦數位控制一體成形的溜溜球球體，具有相當的空轉穩定性。外表通常使用陽極處理方式上色，現在除了單色，更有廠商推出潑墨、渲染方式的色系。此種溜溜球也不適合撞擊，有機會使球體變形或是軸心損壞，造成振動、抖動甚至可能完全無法使用。
          .span3
            .img-frame
              img.img-polaroid(src='img/knowledge/material_04.jpg')
              p
                small 金屬溜溜球
        h2#shape.section_title.shift 球形分類
        .row
          .span6
            .sub_section
              h3.sub_title 經典快打型
              p 為早期溜溜球開創年代的外型，大多為固定軸心。
          .span6
            .sub_section
              h3.sub_title 一般快打型(全能型)
              p 近代入門溜溜球及雙手迴旋花式使用的球種，較高的回收內壁，具有良好的回收性能，較為扁平的外型非常適合手較小的入門玩家使用。
          .span6
            .sub_section
              h3.sub_title 圓弧形
              p 蝶翼型的初始設計，回收內壁較全能型低，球體為圓弧形，回收時手掌受力較平均。在使用線上滑動技巧與滾手技巧上會比較穩定，但是在使用斜向技巧時，球體跟溜溜球繩的摩擦稍大，因此出現了直線型。
          .span6
            .sub_section
              h3.sub_title 直線型
              p 為改善斜向技巧的球種，球體圓弧較大近似直線，可以降低斜向技巧造成的球體摩擦，但是回收時的力量集中在球體外唇上，一開始練習時必須注意。
          .span6
            .sub_section
              h3.sub_title 平面外環型
              p 為了改善收球的力量集中問題所開發的外型，平面外環可以有效的增加球體與手掌的接觸面積，進而分散收球時的力量。為了改善收球的力量集中問題所開發的外型，平面外環可以有效的增加球體與手掌的接觸面積，進而分散收球時的力量。
          .span6
            .sub_section
              h3.sub_title 階段式直線型
              p 球體分為兩階段角度設計，在斜向技巧的控制方面有較佳的性能外，也能兼顧回收時的手感。
          .span6
            .sub_section
              h3.sub_title 階段式圓弧形
              p 較有名的就是YoyoRecreation系列的球種，為能兼顧斜向技巧控制能力又有較緩和的回收手感。
          .span6
            .sub_section
              h3.sub_title H型
              p 為瑞士Hspin公司2007年率先設計的特殊造型溜溜球，是將斜向技巧會用到的球體表面全部內縮，外部為平面外環，形成相當極端的球體。此後更有一系列改變內外段差較低的H型溜溜球上市。
          .span6
            .sub_section
              h3.sub_title 反弧形
              p 約在2008年開始的外型，為H型與階段式圓弧形的合成型，同樣能徹底改善斜向技巧的球體摩擦問題，球體後半部設計成圓弧形、直線型或是平面外環型調整收發球手感。手指在反弧形內會有較佳的手感，在做滾指技巧時會有較好的穩定度。
          .span6
            .sub_section
              h3.sub_title ZS型
              p 源自中國白水設計的L4，在球體上內切一個不影響上線區域的凹槽。
      .span3(data-spy='affix', data-offset-top='280')
        ul.nav.nav-list
          li
            a(href='#material') 材質分類
          li
            a(href='#shape') 球形分類

