extends base

append css
  link(rel='stylesheet', href='/css/meeting.css')

append js
  script 
    $(document).ready(function(){
      $('#nav_meeting').addClass('active');
    });

block page
  .container
    .row
      .span12
        h1 &#9700;聚會資訊
        h2#regular.section_title.shift 　定期聚會
        ul.breadcrumb
          li
            a(href='/#') 首頁
            span.divider /
          li
            a(href='/meeting#') 聚會資訊
            span.divider / 
          li.active 頂尖選手
    .row.profile
      .span6
        h3 台北聚會
        dl
          dt 地點
          dt 時間
          dt 聯絡人
          dd
            ul.unstyled
              li
                i.icon-facebook-sign.icon-large(style='font-size: 120px')

