extends base

append css
  link(rel='stylesheet', href='/css/meeting.css')

append js
  script 
    $(document).ready(function(){
      $('#nav_meeting').addClass('active');
    });

block page
  .container
    .row
      .span12
        h1 &#9700;聚會資訊
        h2#regular.section_title.shift 　定期聚會
        ul.breadcrumb
          li
            a(href='/#') 首頁
            span.divider /
          li
            a(href='/meeting#') 聚會資訊
            span.divider / 
          li.active 定期聚會
    .row.profile
      .span4
        h3 台北聚會
        .map 
          <iframe height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=zh-TW&amp;geocode=&amp;q=%E5%8F%B0%E7%81%A3%E5%8F%B0%E5%8C%97%E5%B8%82%E5%A4%A7%E5%AE%89%E5%8D%80%E6%9D%B1%E5%8D%80%E5%9C%B0%E4%B8%8B%E8%A1%97&amp;aq=0&amp;oq=%E5%8F%B0%E7%81%A3%E6%9D%B1%E5%8D%80%E5%9C%B0%E4%B8%8B%E8%A1%97&amp;sll=24.774725,121.029427&amp;sspn=0.068501,0.132093&amp;ie=UTF8&amp;hq=%E5%8F%B0%E7%81%A3%E5%8F%B0%E5%8C%97%E5%B8%82%E5%A4%A7%E5%AE%89%E5%8D%80%E6%9D%B1%E5%8D%80%E5%9C%B0%E4%B8%8B%E8%A1%97&amp;t=m&amp;cid=1517054527464802234&amp;hnear=&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=zh-TW&amp;geocode=&amp;q=%E5%8F%B0%E7%81%A3%E5%8F%B0%E5%8C%97%E5%B8%82%E5%A4%A7%E5%AE%89%E5%8D%80%E6%9D%B1%E5%8D%80%E5%9C%B0%E4%B8%8B%E8%A1%97&amp;aq=0&amp;oq=%E5%8F%B0%E7%81%A3%E6%9D%B1%E5%8D%80%E5%9C%B0%E4%B8%8B%E8%A1%97&amp;sll=24.774725,121.029427&amp;sspn=0.068501,0.132093&amp;ie=UTF8&amp;hq=%E5%8F%B0%E7%81%A3%E5%8F%B0%E5%8C%97%E5%B8%82%E5%A4%A7%E5%AE%89%E5%8D%80%E6%9D%B1%E5%8D%80%E5%9C%B0%E4%B8%8B%E8%A1%97&amp;t=m&amp;cid=1517054527464802234&amp;hnear=&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">檢視較大的地圖</a></small>
        dl
          dt 地點
          dd 東區地下街14號平安鐘廣場
          dt 時間
          dd 每週六 14:00 開始
          dt 聯絡人
          dd
            ul.unstyled
              li
                | 黃建凱
                a(href='https://www.facebook.com/profile.php?id=100000091691794', target='_blank')
                  i.icon-facebook-sign.icon-large
              li 
                | 盧彥霖
                a(href='https://www.facebook.com/shadol.lu', target='_blank')
                  i.icon-facebook-sign.icon-large
              li 
                | 高中宸
                a(href='https://www.facebook.com/jasonfoxracing', target='_blank')
                  i.icon-facebook-sign.icon-large
              li 
                | 廖世鼎
                a(href='https://www.facebook.com/james.liao.73', target='_blank')
                  i.icon-facebook-sign.icon-large
      .span4
        h3 新竹互動式溜溜球協會
        .map 
          <iframe height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.tw/maps?f=q&amp;source=s_q&amp;hl=zh-TW&amp;geocode=&amp;q=30041%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80%E4%B8%AD%E5%A4%AE%E8%B7%AF229%E8%99%9F&amp;aq=&amp;sll=24.809131,120.974421&amp;sspn=0.00215,0.004128&amp;brcurrent=3,0x34683608af7574fd:0x9643333e378eabc8,0,0x34684a77b55ae7f7:0x5e4ce862e2a11ffb&amp;ie=UTF8&amp;hq=&amp;hnear=300%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80%E4%B8%AD%E5%A4%AE%E8%B7%AF229%E8%99%9F&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com.tw/maps?f=q&amp;source=embed&amp;hl=zh-TW&amp;geocode=&amp;q=30041%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80%E4%B8%AD%E5%A4%AE%E8%B7%AF229%E8%99%9F&amp;aq=&amp;sll=24.809131,120.974421&amp;sspn=0.00215,0.004128&amp;brcurrent=3,0x34683608af7574fd:0x9643333e378eabc8,0,0x34684a77b55ae7f7:0x5e4ce862e2a11ffb&amp;ie=UTF8&amp;hq=&amp;hnear=300%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80%E4%B8%AD%E5%A4%AE%E8%B7%AF229%E8%99%9F&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">檢視較大的地圖</a></small>
        dl
          dt 地點
          dd 新竹巨城購物中心7樓溜冰場旁
          dt 時間
          dd 每週日 13:00 至 18:00
          dt 聯絡人
          dd
            ul.unstyled
              li
                strong 團長 
                | 藍育程
                a(href='https://www.facebook.com/yucheng.lan', target='_blank')
                  i.icon-facebook-sign.icon-large
              li 
                strong 副團長 
                | 黃麟凱
                a(href='https://www.facebook.com/linkai.huang', target='_blank')
                  i.icon-facebook-sign.icon-large
      .span4
        h3 台中搖搖聚會
        .map 
          <iframe height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.tw/maps?f=q&amp;source=s_q&amp;hl=zh-TW&amp;geocode=&amp;q=40453%E5%8F%B0%E4%B8%AD%E5%B8%82%E5%8C%97%E5%8D%80%E9%A4%A8%E5%89%8D%E8%B7%AF%E4%B8%80%E8%99%9F&amp;aq=&amp;sll=24.809447,120.975469&amp;sspn=0.00856,0.016512&amp;brcurrent=3,0x34693d755856554f:0xcec89cf7727b09a5,1,0x346917dff97922ef:0x87523ee47ea6447f&amp;ie=UTF8&amp;hq=&amp;hnear=404%E5%8F%B0%E4%B8%AD%E5%B8%82%E5%8C%97%E5%8D%80%E9%A4%A8%E5%89%8D%E8%B7%AF1%E8%99%9F&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com.tw/maps?f=q&amp;source=embed&amp;hl=zh-TW&amp;geocode=&amp;q=40453%E5%8F%B0%E4%B8%AD%E5%B8%82%E5%8C%97%E5%8D%80%E9%A4%A8%E5%89%8D%E8%B7%AF%E4%B8%80%E8%99%9F&amp;aq=&amp;sll=24.809447,120.975469&amp;sspn=0.00856,0.016512&amp;brcurrent=3,0x34693d755856554f:0xcec89cf7727b09a5,1,0x346917dff97922ef:0x87523ee47ea6447f&amp;ie=UTF8&amp;hq=&amp;hnear=404%E5%8F%B0%E4%B8%AD%E5%B8%82%E5%8C%97%E5%8D%80%E9%A4%A8%E5%89%8D%E8%B7%AF1%E8%99%9F&amp;t=m&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">檢視較大的地圖</a></small>
        dl
          dt 地點
          dd 科博館正門太空劇場防盜門旁邊階梯處
          dt 時間
          dd 每週六 13:00 開始
          dt 聯絡人
          dd
            ul.unstyled
              li
                | 郭博翰
                a(href='https://www.facebook.com/kuopohan', target='_blank')
                  i.icon-facebook-sign.icon-large
              li 
                | 廖柏彥
                a(href='https://www.facebook.com/rockyoer', target='_blank')
                  i.icon-facebook-sign.icon-large
              li 
                | 趙晏愷
                a(href='https://www.facebook.com/zhao.yankai1', target='_blank')
                  i.icon-facebook-sign.icon-large
    .row.profile
      .span4
        h3 南部常態式聚會
        .map 
          <iframe height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=%E5%8F%B0%E5%8D%97%E5%B8%82%E6%9D%B1%E5%8D%80%E5%A4%A7%E5%AD%B8%E8%B7%AF2%E8%99%9F&amp;ie=UTF8&amp;hl=zh-TW&amp;hq=&amp;hnear=701%E5%8F%B0%E7%81%A3%E5%8F%B0%E5%8D%97%E5%B8%82%E6%9D%B1%E5%8D%80%E5%A4%A7%E5%AD%B8%E8%B7%AF2%E8%99%9F&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?q=%E5%8F%B0%E5%8D%97%E5%B8%82%E6%9D%B1%E5%8D%80%E5%A4%A7%E5%AD%B8%E8%B7%AF2%E8%99%9F&amp;ie=UTF8&amp;hl=zh-TW&amp;hq=&amp;hnear=701%E5%8F%B0%E7%81%A3%E5%8F%B0%E5%8D%97%E5%B8%82%E6%9D%B1%E5%8D%80%E5%A4%A7%E5%AD%B8%E8%B7%AF2%E8%99%9F&amp;t=m&amp;z=14&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">檢視較大的地圖</a></small>
        dl
          dt 地點
          dd 成大九乘九廣場(成大會館)
          dt 時間
          dd 每週日 13:00 至 17:00
          dt 聯絡人
          dd
            ul.unstyled
              li
                | 張瑋倫
                a(href='https://www.facebook.com/zhang.w.lun.14', target='_blank')
                  i.icon-facebook-sign.icon-large
              li 
                | 顧文宇
                a(href='https://www.facebook.com/frank.ku.71', target='_blank')
                  i.icon-facebook-sign.icon-large
