extends base

append css
  link(rel='stylesheet', href='/css/meeting.css')

append js
  script 
    $(document).ready(function(){
      $('#nav_meeting').addClass('active');
    });

block page
  .container
    .row
      .span12
        h1 &#9700;聚會資訊
        h2#regular.section_title.shift 　定期聚會
        ul.breadcrumb
          li
            a(href='/#') 首頁
            span.divider /
          li
            a(href='/meeting#') 聚會資訊
            span.divider / 
          li.active 定期聚會
    .row.profile
      .span3
        h3 台北聚會
        img.img-polaroid(src='/img/meeting/taipei.jpg')
        dl
          dt 地點
          dd 
            | 東區地下街14號出口 平安鐘廣場
            a(href='https://maps.google.com/maps?q=%E5%8F%B0%E7%81%A3%E5%8F%B0%E5%8C%97%E5%B8%82%E5%A4%A7%E5%AE%89%E5%8D%80%E6%9D%B1%E5%8D%80%E5%9C%B0%E4%B8%8B%E8%A1%97&hl=zh-TW&ie=UTF8&sll=24.774725,121.029427&sspn=0.068501,0.132093&oq=%E5%8F%B0%E7%81%A3%E6%9D%B1%E5%8D%80%E5%9C%B0%E4%B8%8B%E8%A1%97&hq=%E5%8F%B0%E7%81%A3%E5%8F%B0%E5%8C%97%E5%B8%82%E5%A4%A7%E5%AE%89%E5%8D%80%E6%9D%B1%E5%8D%80%E5%9C%B0%E4%B8%8B%E8%A1%97&t=m&cid=1517054527464802234&z=14&iwloc=A4', target='_blank')
              i.icon-map-marker.icon-large
          dt 時間
          dd 每週六 14:00 開始
          dt 聯絡人
          dd
            ul.unstyled
              li
                a(href='https://www.facebook.com/profile.php?id=100000091691794', target='_blank')
                  i.icon-facebook-sign.icon-large
                | 黃建凱
              li 
                a(href='https://www.facebook.com/shadol.lu', target='_blank')
                  i.icon-facebook-sign.icon-large
                | 盧彥霖
              li 
                a(href='https://www.facebook.com/jasonfoxracing', target='_blank')
                  i.icon-facebook-sign.icon-large
                | 高中宸
              li 
                a(href='https://www.facebook.com/james.liao.73', target='_blank')
                  i.icon-facebook-sign.icon-large
                | 廖世鼎
      .span3
        h3 新竹互動式溜溜球協會
        img.img-polaroid(src='/img/meeting/hiya.jpg')
        a.fb-link(href='https://www.facebook.com/groups/215966918432883/', target='_blank')
          i.icon-facebook-sign.icon-large
        dl
          dt 地點
          dd 
            | 新竹巨城購物中心7樓 溜冰場旁  
            a(href='https://maps.google.com.tw/maps?q=30041%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80%E4%B8%AD%E5%A4%AE%E8%B7%AF229%E8%99%9F&hl=zh-TW&ie=UTF8&sll=24.809131,120.974421&sspn=0.00215,0.004128&brcurrent=3,0x34683608af7574fd:0x9643333e378eabc8,0,0x34684a77b55ae7f7:0x5e4ce862e2a11ffb&hnear=300%E6%96%B0%E7%AB%B9%E5%B8%82%E6%9D%B1%E5%8D%80%E4%B8%AD%E5%A4%AE%E8%B7%AF229%E8%99%9F&t=m&z=14', target='_blank')
              i.icon-map-marker.icon-large
          dt 時間
          dd 每週日 13:00 至 18:00
          dt 聯絡人
          dd
            ul.unstyled
              li
                a(href='https://www.facebook.com/yucheng.lan', target='_blank')
                  i.icon-facebook-sign.icon-large
                strong 團長 
                | 藍育程
              li 
                a(href='https://www.facebook.com/linkai.huang', target='_blank')
                  i.icon-facebook-sign.icon-large
                strong 副團長 
                | 黃麟凱
      .span3
        h3 台中搖搖聚會
        img.img-polaroid(src='/img/meeting/taichung.jpg')
        dl
          dt 地點
          dd 
            | 科博館正門 太空劇場防盜門旁階梯處
            a(href='https://maps.google.com.tw/maps?q=40453%E5%8F%B0%E4%B8%AD%E5%B8%82%E5%8C%97%E5%8D%80%E9%A4%A8%E5%89%8D%E8%B7%AF%E4%B8%80%E8%99%9F&hl=zh-TW&ie=UTF8&ll=24.157483,120.666447&spn=0.068838,0.132093&sll=24.809447,120.975469&sspn=0.00856,0.016512&brcurrent=3,0x34693d755856554f:0xcec89cf7727b09a5,1,0x346917dff97922ef:0x87523ee47ea6447f&hnear=404%E5%8F%B0%E4%B8%AD%E5%B8%82%E5%8C%97%E5%8D%80%E9%A4%A8%E5%89%8D%E8%B7%AF1%E8%99%9F&t=m&z=14&iwloc=A', target='_blank')
              i.icon-map-marker.icon-large
          dt 時間
          dd 每週六 13:00 開始
          dt 聯絡人
          dd
            ul.unstyled
              li
                a(href='https://www.facebook.com/kuopohan', target='_blank')
                  i.icon-facebook-sign.icon-large
                | 郭博翰
              li 
                a(href='https://www.facebook.com/rockyoer', target='_blank')
                  i.icon-facebook-sign.icon-large
                | 廖柏彥
              li 
                a(href='https://www.facebook.com/zhao.yankai1', target='_blank')
                  i.icon-facebook-sign.icon-large
                | 趙晏愷
      .span3
        h3 南部聚會
        img.img-polaroid(src='/img/meeting/tainan.jpg')
        dl
          dt 地點
          dd 
            | 成大九乘九廣場 (成大會館)
            a(href='https://maps.google.com/maps?q=%E5%8F%B0%E5%8D%97%E5%B8%82%E6%9D%B1%E5%8D%80%E5%A4%A7%E5%AD%B8%E8%B7%AF2%E8%99%9F&hl=zh-TW&ie=UTF8&hnear=701%E5%8F%B0%E7%81%A3%E5%8F%B0%E5%8D%97%E5%B8%82%E6%9D%B1%E5%8D%80%E5%A4%A7%E5%AD%B8%E8%B7%AF2%E8%99%9F&t=m&z=14&iwloc=A', target='_blank')
              i.icon-map-marker.icon-large
          dt 時間
          dd 每週日 13:00 至 17:00
          dt 聯絡人
          dd
            ul.unstyled
              li
                a(href='https://www.facebook.com/zhang.w.lun.14', target='_blank')
                  i.icon-facebook-sign.icon-large
                | 張瑋倫
              li 
                a(href='https://www.facebook.com/frank.ku.71', target='_blank')
                  i.icon-facebook-sign.icon-large
                | 顧文宇
                
