
.img-lightbox {
  position: relative;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    -webkit-transition: all .6s ease-in-out;
    width: 100%;
  }
  .img-base {
    z-index: 1;
    opacity: 1;
  }
  height: 520px;
}

.img-lightbox-nav li {
  padding: 6px;
  &:hover {
    background: #0088cc;
    color: white;
  }
}
