color_konkikyo = #211E55
color_kokimurasaki = #4A225D
color_shironeri = #FCFAF2

h1
  font-size 120px
  line-height 120px
  margin-top 120px
  margin-bottom 100px

h2.section_title
  font-size 24px
  padding-left 14px
  color color_shironeri
  background-color color_konkikyo
  line-height 48px
  &:before
    content '　'

h3
  color color_konkikyo
  font-size 20px
  line-height 20px
  font-family sans-serif

.profile
  margin-bottom 80px
  img
    width 96%
  .fb-link
    position relative
    top 15px
    margin-bottom 10px
    font-size 20px
    text-decoration none

