extends base

append css
  link(rel='stylesheet', href='/css/people.css')

append js
  script 
    $(document).ready(function(){
      $('#nav_people').addClass('active');
    });

block page
  .container
    .row
      .span12
        h1 &#9700;名人集
        h2#top-player.section_title.shift 　頂尖選手
        ul.breadcrumb
          li
            a(href='/#') 首頁
            span.divider /
          li
            a(href='/people#') 名人集
            span.divider / 
          li.active 頂尖選手
    .row.profile
      .span3
        h3 郭子瑋 (瑋魚)
        img.img-polaroid(src='/img/profile/ziwei.jpg')
        a.fb-link(href='https://www.facebook.com/kuo.t.wei.3', target='_blank')
          i.icon-facebook-sign.icon-large
        dl
          dt 個人簡介
          dd 哈囉！我是郭子瑋，大家都叫我瑋魚。雖然在2012TYYC我拿下了冠軍，但是眼前還有更困難的關卡等著我們，希望我們可以為溜溜球界一起努力，達成願望:)
          dt 地區
          dd 台北
          dt 專長花式
          dd 1A單手線上花式
          dt 所屬隊伍/團體
          dd Adegleyoyos, 台北聚會
          dt 起始年份
          dd 2008
          dt 重要賽事頭銜
          dd
            ul.unstyled
              li 2012 台灣溜溜球大賽 TYYC 1A 冠軍
              li 2010 台灣溜溜球大賽 TYYC 新人王
      .span3
        h3 黃麟凱 (阿凱)
        img.img-polaroid(src='/img/profile/linkai.jpg')
        a.fb-link(href='https://www.facebook.com/linkai.huang', target='_blank')
          i.icon-facebook-sign.icon-large
        dl
          dt 個人簡介
          dd 大家好，我是來自新竹的阿凱，目前為新竹互動式溜溜球協會的副團長，也是裕和商店的設計師跟負責人。不僅只是練溜溜球，同時還設計、製造、販賣、教學及推廣溜溜球。希望讓不懂溜溜球的人都能輕易地愛上這個構造簡單的玩具。
          dt 地區
          dd 新竹
          dt 專長花式
          dd 5A離手線上花式
          dt 所屬隊伍/團體
          dd Adegleyoyos, Eigenstate, HIYA
          dt 起始年份
          dd 2006
          dt 重要賽事頭銜
          dd
            ul.unstyled
              li 2010 亞洲溜溜球大賽 AP 5A 第五名
              li 2008 台灣溜溜球大賽 TYYC 5A 冠軍
              li 2007 台灣溜溜球大賽 TYYC 5A 冠軍
      .span3
        h3 盧彥霖 (陰影)
        img.img-polaroid(src='/img/profile/shadol.jpg')
        a.fb-link(href='https://www.facebook.com/shadol.lu', target='_blank')
          i.icon-facebook-sign.icon-large
        dl
          dt 個人簡介
          dd Hello，我來自台北。溜溜球只要努力它就會動給你看，但是如何動得漂亮、動得出色又是一門學問了。
          dt 地區
          dd 台北
          dt 專長花式
          dd 1A單手線上花式
          dt 所屬隊伍/團體
          dd Eigenstate, 台北聚會
          dt 起始年份
          dd 2005
          dt 重要賽事頭銜
          dd
            ul.unstyled
              li 2012 MOYOSTAGE 1A 亞軍
              li 2010 台灣溜溜球大賽 TYYC 1A 冠軍
              li 2009 台灣溜溜球大賽 TYYC 1A 冠軍
              li 2008 台灣溜溜球大賽 TYYC 1A 冠軍
      .span3
        h3.pull-left 曾弘傑 (Jei)
        img.img-polaroid(src='/img/profile/jei.jpg')
        a.fb-link(href='https://www.facebook.com/hungchieh.tseng', target='_blank')
          i.icon-facebook-sign.icon-large
        dl
          dt 個人簡介
          dd 23歲
          dt 地區
          dd 台南
          dt 專長花式
          dd 1A單手線上花式
          dt 所屬隊伍/團體
          dd Yonity, YoYoAddict
          dt 起始年份
          dd 2007
          dt 重要賽事頭銜
          dd
            ul.unstyled
              li 2012 亞洲溜溜球大賽 AP 1A 第六名
              li 2012 台灣溜溜球大賽 TYYC 1A 亞軍
              li 2012 MOYOSTAGE 1A 冠軍
              li 2011 亞洲溜溜球大賽 AP 1A 第八名
              li 2011 台灣溜溜球大賽 TYYC 1A 冠軍
              li 2011 火力少年王 1A 冠軍
              li 2010 台灣溜溜球大賽 TYYC 1A 亞軍
              li 2009 台灣溜溜球大賽 TYYC 1A 亞軍
    .row.profile
      .span3
        h3 余宗倫 (Allen)
        img.img-polaroid(src='/img/profile/zonglun.jpg')
        a.fb-link(href='https://www.facebook.com/allen.yu.927', target='_blank')
          i.icon-facebook-sign.icon-large
        dl
          dt 個人簡介
          dd 大家好，我叫Allen，當年看了火力少年王2的時候開始玩溜溜球，我印象中是2007年的暑假，我不是三分鐘熱度的人，所以這個興趣就持續到現在拉XD
          dt 地區
          dd 桃園
          dt 專長花式
          dd 3A雙手線上花式
          dt 所屬隊伍/團體
          dd 台北聚會
          dt 起始年份
          dd 2007
          dt 重要賽事頭銜
          dd
            ul.unstyled
              li 2010 台灣溜溜球大賽 TYYC 3A 冠軍
    //-.row.profile
      .span12
        h2#performer.section_title 表演家
        ul.breadcrumb
           li
             a(href='/#') 首頁
             span.divider /
           li
             a(href='/people#') 名人集
             span.divider / 
           li.active 表演家
