extends base

append css
  link(rel='stylesheet', href='/css/people.css')

append js
  script 
    $(document).ready(function(){
      $('#nav_people').addClass('active');
    });

block page
  .container
    .row
      .span12
        h1 ◤名人集
        h2#top-player.section_title.shift 頂尖選手
        ul.breadcrumb
          li
            a(href='/#') 首頁
            span.divider /
          li
            a(href='/people#') 名人集
            span.divider / 
          li.active 頂尖選手
    .row.profile
      .span3
        // Duan
        h3 段智敏 (小段)
        img.img-polaroid(src='/img/profile/duan01.jpg')
        a.fb-link(href='https://www.facebook.com/yoyoTuan', target='_blank')
          i.icon-facebook-sign.icon-large
        dl
          dt 個人簡介
          dd 哈嚕∼我叫段智敏，可以叫我小段。現在正以街頭藝人的身分在街頭推廣溜溜球文化，如果有機會在街頭看到我，不妨停下腳步來看看我的表演，也歡迎現場一起交流喔∼
          dt 地區
          dd 台北
          dt 專長花式
          dd 1A單手線上花式，5A離手線上花式
          dt 所屬隊伍/團體
          dd W.H.O Theatre 虎劇團
          dt 起始年份
          dd 2001
          dt 重要賽事頭銜
          dd
            ul.unstyled
              li 2011 台灣溜溜球大賽 TYYC 5A 冠軍
              li 2008 台灣溜溜球大賽 TYYC 1A 季軍
              li 2008 台灣溜溜球大賽 TYYC 5A 季軍
              li 2006 台灣溜溜球大賽 TYYC 5A 冠軍
              li 2006 亞洲溜溜球大賽 AP 團體組 冠軍
      .span3
        // Guo
        h3 郭博翰 (哈利)
        img.img-polaroid(src='/img/profile/harry.jpg')
        a.fb-link(href='https://www.facebook.com/kuopohan', target='_blank')
          i.icon-facebook-sign.icon-large
        dl
          dt 個人簡介
          dd 從小開始鑽研極限花式溜溜球至今, 資歷13年,曾上過大大小小的綜藝節目表演, 接受過無數新聞媒體採訪,現正活躍於全台各大公司活動, 希望能夠將好看的花式溜溜球表演帶給大家,在音樂強而有力的節奏與超高難度的技藝完美結合之下,讓你對這個你我兒時都曾有的回憶徹底改觀!
          dt 地區
          dd 台中
          dt 專長花式
          dd 4A離線花式
          dt 所屬隊伍/團體
          dd W.H.O Theatre 虎劇團, YONITY, YoYoAddict
          dt 起始年份
          dd 2001
          dt 裁判經歷
          dd 
            ul.unstyled
              li 2012 台灣溜溜球大賽 TYYC
              li 2012 MOYOSTAGE
          dt 重要賽事頭銜
          dd
            ul.unstyled
              li 2011 日本 44CLASH X 第七名
              li 2011 台灣溜溜球大賽 TYYC 4A 冠軍
              li 2011 亞洲溜溜球大賽 AP 4A 第五名
              li 2010 台灣溜溜球大賽 TYYC 4A 冠軍
              li 2010 亞洲溜溜球大賽 AP 4A   季軍
              li 2009 台灣溜溜球大賽 TYYC 4A 冠軍
              li 2008 亞洲溜溜球大賽 AP 4A 第七名
              li 2008 台灣溜溜球大賽 TYYC 4A 冠軍
              li 2007 台灣溜溜球大賽 TYYC 4A 亞軍
              li 2006 台灣溜溜球大賽 TYYC 4A 亞軍
      .span3
        // Guo
        h3 郭子瑋 (瑋魚)
        img.img-polaroid(src='/img/profile/ziwei.jpg')
        a.fb-link(href='https://www.facebook.com/kuo.t.wei.3', target='_blank')
          i.icon-facebook-sign.icon-large
        dl
          dt 個人簡介
          dd 哈囉！我是郭子瑋，大家都叫我瑋魚。雖然在2012TYYC我拿下了冠軍，但是眼前還有更困難的關卡等著我們，希望我們可以為溜溜球界一起努力，達成願望:)
          dt 地區
          dd 台北
          dt 專長花式
          dd 1A單手線上花式
          dt 所屬隊伍/團體
          dd Adegleyoyos, 台北聚會
          dt 起始年份
          dd 2008
          dt 重要賽事頭銜
          dd
            ul.unstyled
              li 2012 台灣溜溜球大賽 TYYC 1A 冠軍
              li 2010 台灣溜溜球大賽 TYYC 新人王
      .span3
        // Huang
        h3 黃麟凱 (阿凱)
        img.img-polaroid(src='/img/profile/linkai.jpg')
        a.fb-link(href='https://www.facebook.com/linkai.huang', target='_blank')
          i.icon-facebook-sign.icon-large
        dl
          dt 個人簡介
          dd 大家好，我是來自新竹的阿凱，目前為新竹互動式溜溜球協會的副團長，也是裕和商店的設計師跟負責人。不僅只是練溜溜球，同時還設計、製造、販賣、教學及推廣溜溜球。希望讓不懂溜溜球的人都能輕易地愛上這個構造簡單的玩具。
          dt 地區
          dd 新竹
          dt 專長花式
          dd 5A離手線上花式
          dt 所屬隊伍/團體
          dd Adegleyoyos, Eigenstate, HIYA
          dt 起始年份
          dd 2006
          dt 重要賽事頭銜
          dd
            ul.unstyled
              li 2010 亞洲溜溜球大賽 AP 5A 第五名
              li 2008 台灣溜溜球大賽 TYYC 5A 冠軍
              li 2007 台灣溜溜球大賽 TYYC 5A 冠軍
    .row.profile  
      .span3
        // Lan
        h3 藍子傑 (小藍)
        img.img-polaroid(src='/img/profile/zijie.jpg')
        a.fb-link(href='https://www.facebook.com/TzuChieh.Lan', target='_blank')
          i.icon-facebook-sign.icon-large
        dl
          dt 個人簡介
          dd 我愛溜溜球,這項才藝豐富了我的生活, 它使我有勇氣站上舞台, 也結交了許多同好互相學習!!, 歡迎各位朋友加入我們的行列喔^^!!
          dt 地區
          dd 台北, 雲林
          dt 專長花式
          dd 5A離手線上花式
          dt 所屬隊伍/團體
          dd Adegleyoyos, Eigenstate
          dt 起始年份
          dd 2006
          dt 重要賽事頭銜
          dd
            ul.unstyled
              li 2010 亞洲溜溜球大賽 AP 5A 季軍
              li 2010 台灣溜溜球大賽 TYYC 5A 冠軍
              li 2009 台灣溜溜球大賽 TYYC 5A 冠軍
      .span3
        // Liao
        h3 廖世鼎 (高橋)
        img.img-polaroid(src='/img/profile/takahashi.jpg')
        a.fb-link(href='https://www.facebook.com/james.liao.73', target='_blank')
          i.icon-facebook-sign.icon-large
        dl
          dt 個人簡介
          dd 
            p 溜溜球的結構，讓物理系的我學以致用!!溜溜球的比賽，讓我開拓視野知道世界有多大!!溜溜球的聚會，讓我多了好玩有趣來自社會各處的夥伴~溜溜球的練習，讓我學會靜下心思考跟提升專注力 
            p 套句電影魔球的名言
            p How can you not get romantic about yo-yo. 你怎能不愛上溜溜球呢~??
          dt 地區
          dd 台北
          dt 專長花式
          dd 2A雙手迴旋花式
          dt 所屬隊伍/團體
          dd Looping Stars, 台北聚會
          dt 起始年份
          dd 2002
          dt 重要賽事頭銜
          dd
            ul.unstyled
              li 2006 台灣溜溜球大賽 TYYC 2A 冠軍
      .span3
        // Liu
        h3 盧彥霖 (陰影)
        img.img-polaroid(src='/img/profile/shadol.jpg')
        a.fb-link(href='https://www.facebook.com/shadol.lu', target='_blank')
          i.icon-facebook-sign.icon-large
        dl
          dt 個人簡介
          dd Hello，我來自台北。溜溜球只要努力它就會動給你看，但是如何動得漂亮、動得出色又是一門學問了。
          dt 地區
          dd 台北
          dt 專長花式
          dd 1A單手線上花式
          dt 所屬隊伍/團體
          dd Eigenstate, 台北聚會
          dt 起始年份
          dd 2005
          dt 重要賽事頭銜
          dd
            ul.unstyled
              li 2012 MOYOSTAGE 1A 亞軍
              li 2010 台灣溜溜球大賽 TYYC 1A 冠軍
              li 2009 台灣溜溜球大賽 TYYC 1A 冠軍
              li 2008 台灣溜溜球大賽 TYYC 1A 冠軍
      .span3
        // Xu
        h3 許值銓 (Jester)
        img.img-polaroid(src='/img/profile/jester.jpg')
        a.fb-link(href='https://www.facebook.com/Jesterstyle', target='_blank')
          i.icon-facebook-sign.icon-large
        dl
          dt 個人簡介
          dd 多年來致力推廣台灣溜溜球運動成為我每次公開活動的宗旨，只希望打開國人對溜溜球這特別的運動另一個特別的視野，讓更多人了解溜溜球不只是上上下下的玩意，而是可以千變萬化的手部極限運動!
          dt 地區
          dd 桃園
          dt 專長花式
          dd 1A單手線上花式
          dt 所屬隊伍/團體
          dd Taoyuan Technical Community (TTc)
          dt 起始年份
          dd 2001
          dt 重要賽事頭銜
          dd
            ul.unstyled
              li 2006 台灣溜溜球大賽 TYYC 1A 冠軍
    .row.profile  
      .span3
        // Yang
        h3 楊元慶
        img.img-polaroid(src='/img/profile/yuanching.jpg')
        a.fb-link(href='http://www.facebook.com/yangyuanching', target='_blank')
          i.icon-facebook-sign.icon-large
        dl
          dt 個人簡介
          dd 我是楊元慶，來自台南，是個溜溜球的街頭藝人，不是要當最厲害的，而是成為無法取代！
          dt 地區
          dd 台南
          dt 專長花式
          dd 1A單手線上花式
          dt 起始年份
          dd 2005
          dt 重要賽事頭銜
          dd
            ul.unstyled
              li 2010 台灣溜溜球大賽 TYYC 1A 季軍
              li 2009 台灣溜溜球大賽 TYYC 1A 季軍
              li 2008 台灣溜溜球大賽 TYYC 1A 亞軍
              li 2007 台灣溜溜球大賽 TYYC 1A 冠軍
      .span3
        // You
        h3 尤靖允 (Joey)
        img.img-polaroid(src='/img/profile/joey.jpg')
        a.fb-link(href='https://www.facebook.com/profile.php?id=100000312754080', target='_blank')
          i.icon-facebook-sign.icon-large
        dl
          dt 個人簡介
          dd 大家好，我是Joey。會開始玩溜溜的原因是因為扯鈴的關係才開始接觸，不知不覺就玩了好幾年了，也在台灣的TYYC獲得了不錯的成績，興趣是3A。在不斷精進自己技術的過程中，溜溜球對我已不是一項技藝，而是生活中重要的一部份。不管什麼原因讓你開始玩溜溜球，絕不能讓你的yoyo停止轉動!
          dt 地區
          dd 桃園
          dt 專長花式
          dd 3A雙手線上花式
          dt 所屬隊伍/團體
          dd 台北聚會
          dt 起始年份
          dd 2009
          dt 重要賽事頭銜
          dd
            ul.unstyled
              li 2011 台灣溜溜球大賽 TYYC 3A 冠軍
      .span3
        // Yu
        h3 余宗倫 (Allen)
        img.img-polaroid(src='/img/profile/zonglun.jpg')
        a.fb-link(href='https://www.facebook.com/allen.yu.927', target='_blank')
          i.icon-facebook-sign.icon-large
        dl
          dt 個人簡介
          dd 大家好，我叫Allen，當年看了火力少年王2的時候開始玩溜溜球，我印象中是2007年的暑假，我不是三分鐘熱度的人，所以這個興趣就持續到現在拉XD
          dt 地區
          dd 桃園
          dt 專長花式
          dd 3A雙手線上花式
          dt 所屬隊伍/團體
          dd 台北聚會
          dt 起始年份
          dd 2007
          dt 重要賽事頭銜
          dd
            ul.unstyled
              li 2010 台灣溜溜球大賽 TYYC 3A 冠軍
       .span3
        // Zeng
        h3.pull-left 曾弘傑 (Jei)
        img.img-polaroid(src='/img/profile/jei.jpg')
        a.fb-link(href='https://www.facebook.com/hungchieh.tseng', target='_blank')
          i.icon-facebook-sign.icon-large
        dl
          dt 個人簡介
          dd 23歲
          dt 地區
          dd 台南
          dt 專長花式
          dd 1A單手線上花式
          dt 所屬隊伍/團體
          dd Yonity, YoYoAddict
          dt 起始年份
          dd 2007
          dt 重要賽事頭銜
          dd
            ul.unstyled
              li 2012 亞洲溜溜球大賽 AP 1A 第六名
              li 2012 台灣溜溜球大賽 TYYC 1A 亞軍
              li 2012 MOYOSTAGE 1A 冠軍
              li 2011 亞洲溜溜球大賽 AP 1A 第八名
              li 2011 台灣溜溜球大賽 TYYC 1A 冠軍
              li 2011 火力少年王 1A 冠軍
              li 2010 台灣溜溜球大賽 TYYC 1A 亞軍
              li 2009 台灣溜溜球大賽 TYYC 1A 亞軍
    .row.profile
      .span3
        // Zhang
        h3 張智傑 (小傑)
        img.img-polaroid(src='/img/profile/zhijie.jpg')
        a.fb-link(href='https://www.facebook.com/profile.php?id=100001788323295', target='_blank')
          i.icon-facebook-sign.icon-large
        dl
          dt 個人簡介
          dd 嗨~我是張智傑，溜溜球對我來說是生活中不可或缺的一部分，它也讓我的生活更加精采，溜溜球的世界很有趣也很有學問，台灣溜溜球需要更多新血，歡迎大家加入我們!
          dt 地區
          dd 台北  高雄
          dt 專長花式
          dd 4A單手離線花式
          dt 所屬隊伍/團體
          dd Eigenstate
          dt 起始年份
          dd 2010
          dt 重要賽事頭銜
          dd
            ul.unstyled
              li 2012 台灣溜溜球大賽 TYYC 4A 冠軍
    .row
      .span12
        h2#performer.section_title.shift 表演家
        ul.breadcrumb
           li
             a(href='/#') 首頁
             span.divider /
           li
             a(href='/people#') 名人集
             span.divider / 
           li.active 表演家
    .row.profile
      .span3
        // Duan
        h3 段智敏 (小段)
        img.img-polaroid(src='/img/profile/duan02.jpg')
        a.fb-link(href='https://www.facebook.com/yoyoTuan', target='_blank')
          i.icon-facebook-sign.icon-large
        dl
          dt 個人簡介
          dd 哈嚕∼我叫段智敏，可以叫我小段。現在正以街頭藝人的身分在街頭推廣溜溜球文化，如果有機會在街頭看到我，不妨停下腳步來看看我的表演，也歡迎現場一起交流喔∼
          dt 地區
          dd 台北
          dt 表演經歷
          dd
            ul.unstyled
              li 2012 上海中國達人秀
              li 2010 上海全家都來賽
              li 2008 資訊展創建資訊表演
              li 2008 ”江蕙首登場”演唱會串場表演
              li 2008 YAMAHA皇家學院風CUXI車展
              li 2007 春艷電音晚會表演
          dt 節目經歷
          dd
            ul.unstyled
              li LOLIPOP哪裡怕
              li 全民估價王
              li 周日八點檔
              li 國光幫幫忙
              li 學校沒教的事
              li 康康大網咖
              li 康熙來了
              li 我猜我猜我猜猜猜
              li 校園瘋神榜
              li 歡樂幸運星
              li 歡樂驚奇屋
              li 消費估估樂
              li 王牌大明星
              li 王牌大間諜
              li 綜藝大哥大
              li 網路一點靈
              li 華視新聞雜誌
              li 街頭有搞頭
              li 誰最帶種
              li 超級旁門左道
              li 達人總動員 
              li 鑽石夜總會
      .span3
        // Guo
        h3 郭博翰 (Harry)
        img.img-polaroid(src='/img/profile/harry02.jpg')
        a.fb-link(href='https://www.facebook.com/kuopohan', target='_blank')
          i.icon-facebook-sign.icon-large
        dl
          dt 個人簡介
          dd 他，是W.H.O虎劇團副團長，是台北市街頭藝人，是2008年至2011年蟬聯4屆的台灣溜溜球大賽離線花式組冠軍，是2010年亞洲溜溜球大賽離線花式組季軍，希望能夠帶給大家很不一樣的溜溜球表演! =]
          dt 地區
          dd 台中, 表演範圍全台走透透
          dt 表演經歷
          dd
            ul.unstyled
              li 法商迪卡儂運動用品公司尾牙
              li 台北世貿玩具展
              li 中友百貨週年慶
              li 2009年日月潭跨年晚會
              li 基隆甲山林城上城歡樂總動員
              li 法務部反賄選嘉年華
              li 精采100全國模範勞工表揚大會
              li 宜蘭夏戀礁溪啤酒節
              li 2012年台北市民眾帆船體驗活動
              li 2012台中創意生活節
          dt 節目經歷
          dd
            ul.unstyled
              li 中視 我猜我猜我猜猜猜
              li 中視 綜藝大哥大
              li 中視 全民藝起來
              li 中視 綜藝大本營
              li 台視 鑽石夜總會
              li 民視 綜藝大贏家
              li 民視 綜藝大集合
              li 民視 新兵進行曲
              li 衛視 歡樂幸運星
              li 衛視 歡樂智多星
              li 衛視 瘋神無雙
              li 東風 王牌大明星
              li 東森 消費估估樂
              li 湖北 超級新秀場
