color_konkikyo = #211E55
color_kokimurasaki = #4A225D
color_shironeri = #FCFAF2
color_tamago = #F9BF45

h1
  font-size 8em
  line-height 120px
  margin-top 120px
  margin-bottom 100px

h2.section_title
  font-size 24px
  padding-left 14px
  color color_shironeri
  background-color color_konkikyo
  line-height 48px
  margin-bottom 40px

h3.sub_title
  color color_konkikyo
  font-size 20px
  line-height 32px
  padding-left 14px
  font-family sans-serif

.sub_section
  margin-bottom 60px
  font-size 1.2em
  line-height 1.5em
  &:first-letter
    font-size 2.5em
    color color_konkikyo
  & > p
    margin-bottom 30px

.img-frame
  width 260px
  img
    width 100%
    height auto
    margin-bottom 10px
  margin-bottom 60px

@media screen and (max-width: 1200px)
  .img-frame
    width 210px

@media (min-width: 768px) and (max-width: 979px)
  .img-frame 
    width 155px
    margin-bottom 40px


#space
  height 1200px

.affix
  top 50px

.label
  font-size 13px
  background-color color_tamago
  padding 4px